<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta first_name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= actor.first_name %> </title>
    <link rel='stylesheet' href='/css/style.css' />

</head>
<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>    
    <%- include("./partials/header") %> 
    <br>
    <h1><%= actor.first_name %> </h1>
    <br>
    <p>first_name: <%= actor.first_name %> </p>
    <p>RAting: <%= actor.rating %> </p>

</body>
</html>